# 시리즈 만들기

In [29]:
import pandas as pd
import random

any_series = pd.Series(['Ironman',12,'blue'])
print(type(any_series)) #type: Series
print(any_series)

family = pd.Series(['Yang','Minsu','Sara','Moonbok','soonli'],\
                   index=['son','father','mother','daughter','grandma'])
print(family)

<class 'pandas.core.series.Series'>
0    Ironman
1         12
2       blue
dtype: object
son            Yang
father        Minsu
mother         Sara
daughter    Moonbok
grandma      soonli
dtype: object

# 데이터프레임 만들기

In [11]:
dolls = pd.DataFrame({
    'Name':["Nata","Shera"],
    'Sex' :['male','female'],
    'Age' :[21, 32],
    'Size':["5inch","4inch"]
})

print(dolls)
print(type(dolls))

    Name     Sex  Age   Size
0   Nata    male   21  5inch
1  Shera  female   32  4inch
<class 'pandas.core.frame.DataFrame'>

# 데이터프레임에서 시리즈 선택하기

In [10]:
scientists = pd.read_csv("C:\\Users\\PAN\\doit_pandas\\data\\scientists.csv")
name = scientists['Name']

print(name.head())

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
Name: Name, dtype: object

# index, values, keys 사용하기

In [24]:
third_row = scientists.iloc[2]
print(third_row)
print(end="\n")

print(third_row.index)
print(third_row.values)
print(third_row.keys()[2]) #key of index[2]

Name          Florence Nightingale
Born                    1820-05-12
Died                    1910-08-13
Age                             90
Occupation                   Nurse
Name: 2, dtype: object

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')
['Florence Nightingale' '1820-05-12' '1910-08-13' 90 'Nurse']
Died

# 시리즈의 mean, min, max, std 메서드 사용하기

In [12]:
age = scientists['Age']
print(age.mean())
print(age.min())
print(age.max())
print(age.std())

59.125
37
90
18.325918413937288

# 시리즈와 불린 추출 사용하기

In [13]:
print(age[age > age.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [15]:
print(age+age)
print("\n\n")
print(age + 100)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64



0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [17]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])
#scientists를 대괄호로 묶어주어야 함. 다른 이름쓰면 안된다!

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [19]:
print(scientists*2) #문자가 두 번씩 써짐

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [26]:
print(scientists['Born'].dtype) #문자열
print(scientists['Died'].dtype) #문자열

born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime,end="\n\n")

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime, end="\n\n")

scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head(n=3)) #born_dt와 died_dt라는 열 추가됨

object
object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13

# 시리즈, 데이터프레임의 데이터 섞어보기

In [30]:
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [34]:
print(scientists.columns) #열 확인
scientists_dropped = scientists.drop(['Age'], axis =1)
print(scientists_dropped.columns) #Age열 삭제

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt'], dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt'], dtype='object')

# 피클 형식으로 저장하기

In [37]:
names = scientists['Name']
names.to_pickle("C:\\Users\\PAN\\doit_pandas\\data\\scientists.pickle")
print(pd.read_pickle("C:\\Users\\PAN\\doit_pandas\\data\\scientists.pickle"))

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [ ]:
names.to_csv("") #시리즈 저장, csv로
scientists.to_csv("",sep='\t') #데이터프레임 저장, tsv로